.footer-box {
  clear: both;
}
#contacto {
  /* background: #ff0000; */
  width: 95%;
  display: flex;
  margin: 30px;
  justify-content: space-around;
}
.containerContact {
  color: black;
  background: gray;
}
.containerContact div h2 {
  color: black;
  font-weight: bold;
}

footer a:visited {
  color: #aaa;
}
footer {
  color: #ffffff;
  padding: 30px 0;
}
#info {
  background: rgb(199, 199, 199);
  border: 5px white solid;
  text-align: left;
  border-radius: 10px;
}

footer .title-section {
  color: #ffffff;
  font-size: 2.5em;
  font-weight: 100;
  text-align: center;
  word-spacing: 1em;
  margin: 20px 0;
}
footer a {
  color: #ffffff;
  word-wrap: break-word;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

footer .info {
  margin-bottom: 10px;
  margin-left: 30px;
}
footer .info span {
  font-weight: bold;
}

.logo_contacto {
  padding-top: 5em;
}

.logo_contacto img {
  width: 150px;
  height: 174px;
}

.icon {
  padding-right: 15px;
}
