.container_n {
  padding: 0px 180px;
  height: 100vh;
  background: rgb(189, 189, 189);
}
#card_title {
  margin-left: 25px;
  color: aliceblue;
}
#titleN {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}
#number {
  text-align: left;
  position: absolute;
  margin: 10px;

  padding: 5px;
  border-radius: 10px;
  color: rgb(7, 7, 7);
}
#descrition {
  text-align: left;
  margin: 10px;
}
#action {
  text-align: left;
  margin: 10px;
}

#action span {
  margin: 10px;
}

.card {
  background: #215a9a;
}
.card p {
}
#delete-icon {
  color: rgb(201, 41, 41) !important;
}
#create-icon {
  color: rgb(42, 141, 42) !important;
}
#edit-icon {
  color: #413f3e !important;
}
