#headerAdmin {
  background-color: hsl(212, 65%, 37%) !important;
  color: rgb(216, 212, 212);
  height: 65px;
  width: 100%;
}
.btn {
  background: hsl(212, 65%, 37%) !important;
}
#title {
  font-size: 40px;
  font-weight: bold;
}
