.news-card .card {
  width: 22vw;
  border: none;
  background: saddlebrown;
}

.container_noticia {
  width: 95%;
  height: 500px;
  background: rgb(189, 189, 189);
  border-radius: 10px;
}
.card {
  width: 18rem;
}
.noticia {
  display: flex;
  justify-content: center;
  height: 85%;
}
.noticia .card {
  margin: 10px;
}

.dark-back_noticia {
  border-radius: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.section_tittle {
  text-align: center;
  margin-top: 0px;
}
.alcaldia {
  background: blue;
  margin: 0px;
}
.news-card {
  text-align: -webkit-center;
}
.card-img-top {
  height: 15vw;
  width: 15vw;
}
.button_more {
  position: absolute;
  right: 10px;
}

.card-body p {
  text-align: right;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 1rem;
}

.button_view_more {
  text-align: center;
  padding-bottom: 0px;
}

.new-title {
  font-size: 1.4vw;
}

@media (max-width: 768px) {
  .news-card .card {
    width: 100%;
    border: none;
  }

  .card-img-top {
    height: 30vw;
  }

  .new-title {
    font-size: 2.2vw;
  }
}

@media (max-width: 991.98px) {
  .news-card .card {
    width: 80%;
    border: none;
  }

  .card-img-top {
    height: auto;
  }

  .new-title {
    font-size: 1rem;
  }
}
