.proyect-card img {
  height: 15rem;
}

.proyect-card .card {
  width: 21rem;
  border: none;
}

.center_tittle {
  font-size: 1.5em;
  text-align: center;
}

.center_description {
  margin-bottom: 20px;
  padding: 0 15px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}

.white_space {
  padding-top: 15px;
}

.card2 {
   width: 100% !important;
}

@media (max-width: 1024px) {
   .proyect-card img {
      height: 15rem;
   }
}

@media (max-width: 765px) {
   .proyect-card img {
      height: auto;
   }
}