.contenedor-tramite h1{
    font-size: 4em;
    display: block;
    width: 100%;
    height: auto;
    margin: 1em auto;
    text-align: center;
    font-weight: bold;
}

.titulo-tramite{
    font-size: 3em;
    color: black;
    font-weight: bold;
    text-align: left;
    width: 100%;
    height: auto;
    display: block;
}


.tramites{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}

.tramite{
    display: block;
    background: #f5f5f5;
    border:2px solid #F5F5F5;
    padding: 1em;
    color: black;
    width: 80%;
    min-width: 400px;
    height: auto;
    overflow: hidden;
    border-radius: 1em;
    position: relative;
    box-shadow: -1px 0px 42px 4px #F5F5F5;
}

.tramite h1{
    font-size: 1.5em;
    text-transform: uppercase;
    display: block;
    text-align: left;
    font-weight: bold;
    color: #fff;
    margin: 0em;
    padding: 0em;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.tramite .tramite-valor{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 40px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255, 1);
}

.tramite .tramite-descripcion{
    font-size: 1em;
    text-align: justify;
    margin-bottom: 3em;
}

.tramite .tramite-pasos,
.tramite .tramite-pasos p{
    margin-bottom: 3em;
}

.tramite .tramite-pasos h3{
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    text-transform: uppercase;
    color: #969696;
    margin: 0em;
    padding: 0em;
}

.tramite .tramite-valor div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 1em;
}


.tramite .tramite-valor div h3{
    text-transform: capitalize;
    margin-right: .5em;
    color: rgba(0,0,0,.3);
}

.tramite .tramite-valor div  p{
   color: rgba(73,95, 206, .6);
}


.image-tramite{
    width: 100%;
    height: 100px;
    margin: 5em 0em;
    margin-top: 10em;
}

.tramite-buscarserv{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 0em;
}

.swiper-container{
    overflow: visible !important;
}

.swiper-pagination{
    padding: 1em 2em;
    position: absolute;
    left: 0px !important;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
    width: 10px !important;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slider-padding-tramite{
    padding: 5em 0em;
    overflow: hidden;
}


.tramite-buscarserv h2{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2em;
}

.tramite-buscarserv div input{
    width: 300px;
    height: auto;
    font-size: 1em;
    border: 2px solid #f5f5f5;
    background: #fff;
    color: #000;
    padding: .5em;
    outline: none;
    margin-right: 2em;
    border-radius: .5em;
}

.tramite-buscarserv div button{
    padding: .5em 1em;
    background: rgba(73,95, 206, 1);
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    border-radius: .5em;
    cursor: pointer;
}

.tramite-table{
    width: 100%;
    text-align: center;
    height: auto;
}

.tramite-table th, 
.tramite-table td{
    border: 1px solid #f5f5f5;
}


.tramite-table th{
    font-weight: bold;
}


.tramite-table td{
    padding: 1em;
}

.contenedor-tramite{
    overflow: hidden;
    padding: 1em;
    margin-bottom: 4em;
}

.slider-padding-tramite{
    padding: 1em 2em;
}


a {
	color:#004B96;
}
a:hover, a:active, a:focus {
	color:#0065C8;
}
h1 {
	color:#004B96;
}
h2 {
	color:#004B96;
}
table.table {
	border:1px solid #CCC;
}
table.table th, table.table td {
	border:1px solid #CCC;
}
table.table th {
	border-bottom:3px solid #004B96;
	color:#004B96;
}
table.table tr.even td {
	background-color:#E6F3FF;
}
#header #logo {
	color:#FFF;
}
#header #nav li a {
	color:#FFF;
}
#header #nav li a:hover {
	text-decoration:underline;
}
#header #nav li.current a {
	background-color:#FFF;
	color:#004B96;
}
.articles .article-info {
	border-bottom:1px dotted #CCC;
	color:#888;
}
.articles .article-info a {
	color:#888;
}
.articles .article-info a:hover {
	color:#555;
}
.pagination a.current {
	background-color:#004B96;
	color:#FFF;
}
.more a {
	border:1px solid #DDD;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	background-color:#EEE;
	color:#000;
}
.more a:hover {
	background-color:#FFF;
	color:#004B96;
}
.menu {
	border-top:1px dotted #CCC;
}
.menu li a {
	border-bottom:1px dotted #CCC;
}
.menu li.current a {
	color:#555;
}
.sponsors {
	color:#888;
}
.sponsors li {
	border-bottom:1px dotted #CCC;
}
#footer {
	background-color:#EEE;
}
.input-text {
	border:1px solid #CCC;
	border-right:1px solid #EEE;
	border-bottom:1px solid #EEE;
	color:#888;
}
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, legend, li, ol, p, pre, td, th, ul {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
address, blockquote, dl, fieldset, form, h1, h2, h3, h4, h5, h6, ol, p, table, ul {
	margin:15px 0;
}
h1 {
	font-size:300%;
	font-weight:normal;
}
h2 {
	font-size:220%;
	font-weight:bold;
}
h3 {
	font-size:160%;
	font-weight:normal;
}
h4, h5, h6 {
	font-size:130%;
	font-weight:bold;
}
form ul {
	list-style:none;
}
form li {
	display:block;
	padding-bottom:7px;
}
form li label {
	display:block;
	padding-bottom:3px;
}
input, select, textarea {
	font-size:100%;
	font-family:"arial", sans-serif;
}
table.table {
	border-collapse:collapse;
	border-spacing:0;
}
table.table th, table.table td {
	padding:7px 10px;
}
table.table th {
	font-weight:bold;
}
ul.ul {
	margin-left:20px;
	list-style:none;
}
ul.ul li {
	padding-left:15px;
}
ul.ul ul {
	margin:0 0 0 20px;
	list-style:none;
}
img.f-left {
	margin-right:15px;
}
img.f-right {
	margin-left:15px;
}
.main {
	width:960px;
	margin:0 auto;
}
#header {
	position:relative;
	height:140px;
	overflow:hidden;
}
#header #logo {
	position:absolute;
	top:40px;
	left:0;
	margin:0;
	font-size:350%;
	line-height:1;
	letter-spacing:-2px;
	font-weight:normal;
}
#header #logo span {
	font-weight:bold;
}
#header #nav {
	position:absolute;
	top:38px;
	right:0;
	list-style:none;
	font-size:110%;
}
#header #nav li {
	display:inline;
}
#header #nav li a {
	display:block;
	float:left;
	padding:6px 12px;
	font-weight:bold;
	text-decoration:none;
}
#header #nav li a:hover {
	text-decoration:underline;
}
#header #nav li.current a {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-decoration:none;
}
#section {
	overflow:hidden;
	padding:20px 0;
}
#content {
	width:100%;
	text-align:justify;
}
.articles {
	margin:0;
	list-style:none;
}
.articles h2 {
	margin:0;
}
.articles h2 a {
	text-decoration:none;
}
.articles .article-info {
	padding-bottom:10px;
}
.articles .article-info .comment {
	padding-left:18px;
}
.articles .article-info p {
	margin:0;
}
.gallery li {
	display:block;
	float:left;
	margin-right:10px;
}
.pagination {
	font-size:110%;
}
.pagination a {
	padding:5px 10px;
}
.pagination a.current {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-decoration:none;
	font-weight:bold;
}
.more {
	text-align:right;
}
.more a {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:6px 12px;
	text-decoration:none;
	font-weight:bold;
}
#aside {
	float:right;
	width:250px;
}
.menu {
	list-style:none;
}
.menu li {
	display:inline;
}
.menu li a {
	display:block;
	padding:5px 0;
}
.menu li.current a {
	font-weight:bold;
	text-decoration:none;
}
.sponsors {
	margin:0;
	list-style:none;
	font-size:85%;
}
.sponsors li {
	padding:10px 0;
}
.sponsors li a {
	font-size:115%;
}
#footer {
	padding:30px 0;
}
#footer p {
	margin:0;
}
.box {
	min-height:1px;
	_height:1%;
}
.box:after {
	display:block;
	visibility:hidden;
	clear:both;
	line-height:0;
	font-size:0;
	content:".";
}
.fix {
	float:none;
	clear:both;
	width:0;
	height:0;
	margin:0;
	padding:0;
	border:0;
	line-height:0;
	font-size:0;
}
.f-left {
	float:left !important;
}
.f-right {
	float:right !important;
}
.t-left {
	text-align:left !important;
}
.t-center {
	text-align:center !important;
}
.t-right {
	text-align:right !important;
}
.t-justify {
	text-align:justify !important;
}
.va-top {
	vertical-align:top !important;
}
.va-middle {
	vertical-align:middle !important;
}
.va-bottom {
	vertical-align:bottom !important;
}
.nom {
	margin:0 !important;
}
.nomt {
	margin-top:0 !important;
}
.nomb {
	margin-bottom:0 !important;
}
.hidden {
	position:absolute;
	left:-1000em;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.noscreen {
	display:none;
}
.input-text {
	padding:5px;
}
.input-submit {
	padding:3px;
}

.diplay-flex-card{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}


.diplay-flex-card-center{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

.diplay-flex-card-column{
	display: flex;
	justify-content: center;
	align-items: center;
	display: row;
}
